<header-home></header-home>
<ion-content>

    <ion-card class="ion-margin-vertical" color="transparent">
        <ion-card-content class="ion-no-padding">
            <div style="display: flex; gap: 10px; align-items: center; padding: 6px;">
                <ion-thumbnail>
                    <img style="padding: 6px;" src="assets/icon/clinica-dental.png" alt="Nosotros">
                </ion-thumbnail>
                <div>
                    <ion-text style="font-size: 1.33em;" color="secundario">Nosotros</ion-text>
                </div>
            </div>
            <div class="ion-padding ion-text-justify">
                <ion-text>
                    En Jack Dental, nos apasiona cuidar de tu sonrisa. Nuestra clínica dental está dedicada a brindarte un servicio de alta calidad y una experiencia cómoda para cada visita. Nuestro equipo de profesionales altamente capacitados está comprometido con tu bienestar dental y tu satisfacción.
                </ion-text>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-margin-vertical" color="transparent">
        <ion-card-content class="ion-no-padding">
            <div style="display: flex; gap: 10px; align-items: center; padding: 6px;">
                <ion-thumbnail>
                    <img style="padding: 6px;" src="assets/icon/diente.png" alt="Servicios">
                </ion-thumbnail>
                <div>
                    <ion-text style="font-size: 1.33em;" color="secundario">Servicios</ion-text>
                </div>
            </div>

            <div class="ion-padding">
                <ion-note>Desliza para conocer nuestros servicios</ion-note>
                <div class="ion-margin-top">
                    <slides></slides>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="ion-margin-vertical" color="transparent">
        <ion-card-content class="ion-no-padding">
            <div style="display: flex; gap: 10px; align-items: center; padding: 6px;">
                <ion-thumbnail>
                    <img style="padding: 6px;" src="assets/icon/ubicacion.png" alt="Ubicanos">
                </ion-thumbnail>
                <div>
                    <ion-text style="font-size: 1.33em;" color="secundario">Ubicanos</ion-text>
                </div>
            </div>

            <div class="ion-padding ion-text-justify">
                <ion-text>
                    En Jack Dental, tu bienestar es nuestra prioridad. Te invitamos a visitarnos y experimentar una atención dental excepcional en un ambiente cálido y amigable.
                </ion-text>
            </div>
        </ion-card-content>
    </ion-card>

    <div class="ion-margin-vertical" style="height: 60px;"></div>
</ion-content>