<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="transparent">
    <ion-title class="username" class="ion-text-start">
      <ion-text color="principal"><span>Bienvenid@</span></ion-text><br>
      <ion-text color="secundario"><small>{{username}}</small></ion-text>
    </ion-title>
  
    
    <ion-buttons slot="end" style="margin-right: 12px;">
      <ion-avatar>
        <img style="width: 3em; height: 3em; margin-top: 8px" src="assets/icon/jackd-logo.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>