<swiper-container>
  <swiper-slide>
    <ion-text><b>Ortodoncia (Brackets):</b></ion-text>
    <div class="ion-text-justify">
      <ion-text>
        Logra la sonrisa que siempre has deseado con nuestros tratamientos de ortodoncia. Los brackets son una solución efectiva para corregir problemas de alineación dental y obtener una sonrisa recta y hermosa.
      </ion-text>
    </div>
  </swiper-slide>
  
  <swiper-slide>
    <ion-text><b>Extracciones:</b></ion-text>
    <div class="ion-text-justify">
      <ion-text>
        Cuando sea necesario, contamos con procedimientos de extracción seguros y sin dolor. Nuestro objetivo es hacer que este proceso sea lo más cómodo y sin complicaciones posible.
      </ion-text>
    </div>
  </swiper-slide>

  <swiper-slide>
    <ion-text><b>Restauraciones (Curaciones, Calces):</b></ion-text>
    <div class="ion-text-justify">
      <ion-text>
        Recupera la funcionalidad y estética de tus dientes con nuestras restauraciones de calidad. Ya sea una caries o una fractura, estamos aquí para ayudarte a mantener una sonrisa saludable.
      </ion-text>
    </div>
  </swiper-slide>

  <swiper-slide>
    <ion-text><b>Endodoncias (Tratamiento de Conducto):</b></ion-text>
    <div class="ion-text-justify">
      <ion-text>
        Nuestros especialistas en endodoncia se asegurarán de salvar tu diente dañado o infectado mediante tratamientos de conducto precisos y efectivos.
      </ion-text>
    </div>
  </swiper-slide>

  <swiper-slide>
    <ion-text><b>Prótesis Fijas (Coronas, Puentes):</b></ion-text>
    <div class="ion-text-justify">
      <ion-text>
        Nuestros especialistas en endodoncia se asegurarán de salvar tu diente dañado o infectado mediante tratamientos de conducto precisos y efectivos. Recupera la forma y función de tus dientes perdidos con nuestras prótesis fijas de alta calidad, como coronas y puentes, diseñadas para que te sientas seguro y cómodo al sonreír.
      </ion-text>
    </div>
  </swiper-slide>
</swiper-container>